/* This file makes the app responsive for viewing on different devices */
@media screen and (max-width: 1500px) {
    .App {
        width: auto;
        #stats {
            width: 60%;
        }
        @media screen and (max-width: 1000px) {
            #stats {
                width: 80%;
            }
        }
    }
}
@media screen and (max-height: 650px) {
    .App {
        flex-direction: row;
        justify-content: space-around;
        #location {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            height: 100%;
            @media screen and (max-width: 700px) {
                .area {
                    h2 {
                        display: none;
                    }
                }
            }
        }
        #feels_like {
            display: none;
        }
        #stats {
            flex-direction: column;
            height: 100dvh;
            margin: 0px;
            width: 30%;
            .stat {
                justify-content: center;
                padding: 0px;
                h4 {
                    margin: 0px;
                }
                svg {
                    height: 1.5em;
                    margin-bottom: 1em;
                }
                .stat_title {
                    display: none;
                }
            }
        }
        @media screen and (max-width: 500px) {
            #stats {
                display: none;
            }
        }
    }
    @media screen and (max-width: 400px) {
        .App {
            flex-direction: column;
            justify-content: center;
            padding: 10em;
            #location {
                height: auto;
                flex-direction: row;
            }
        }
    }
    @media screen and (max-height: 560px) {
        #stats {
            .stat {
                svg {
                    height: 10px;
                }
                /* h1{
                font-size: 1.2em;
            } */
                p {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    * {
        transition: all 100ms;
    }
    .App {
        padding: 0em 1em;
        height: 100dvh;
        justify-content: space-around;
        #stats {
            flex-direction: column;
            width: 100%;
            margin: 0px;
            .stat {
                flex-grow: 1;
                font-size: 0.7rem;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 1.7em;
                margin: 5px 0em;
                svg {
                    height: 2.5em;
                }
                p {
                    margin: 0px;
                }
                .stat_title {
                    display: none;
                }
            }
        }
    }
    .location_form {
        margin: 0px;
    }

    #temperature {
        margin: 0px;
    }
    #feels_like {
        margin: 0px;
        padding: 0px;
    }
}
